#page-title {
    font-family: sans-serif;
    color: whitesmoke;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

}
.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: #E1FCFF;
    display: inline-block;
    padding: 10px 20px;
    background-color: #226591;
    border-bottom: 5px solid #D89715;
}
.menu li {
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    font-size: larger;
}